
<div class="center hero-unit">
  <h1>Bloggness Monster</h1>
  <br>
  
  
<p><%= image_tag("dragons/#{rand(4)}.jpg", size: "190x100") %></p>
  <h2>
  
    
  </h2>
</br>
  <%= link_to "Enter", 'articles', class: "btn btn-large btn-primary" %>
</div>



<a href="https://generalassemb.ly/">BEWD inspired. Project by Ali Glenesk. Rawr.</a>
<br>
<br>
<br>

<% @articles.each do |article| %>
  <dl>
    <dt><h2><%= article.title %></h2></dt>
    <dd><%= article.text %></dd>
    <dd><%= link_to 'Show', article_path(article) %></dd>
  </dl>
<% end %>

